h1 {
  background: -webkit-linear-gradient( #ee0979, #f2bc06);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.featured {

  /* margin:auto 0; */
  /* margin-top: 30px; */
}
/* img{
  border-radius: 8px;
 
} */
.featured-card{
 
}

.featuredCard-top{
  width: 100%;
}


.albums{
  width: 100%;
  padding-left:30px;
  padding-top: 30px;
  overflow-x: hidden;
}

.slick-slide > div {
  padding: 0 10px;
}
.slick-list {
  padding: 0 -10px;
  overflow-x: hidden;
}

.card {
  border: 1px solid #fff;
  border-radius: 8px;
  overflow: hidden;
  height: 100px;
  color: #fff;
  cursor: pointer;
}

.card-top h1 {
  font-size: 0.9rem;
  margin: 20px 0;
}

.card-top > img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  background: black;
}

.album{
  display: flex;
  padding-top: 25px;
  /* margin-bottom: 40px; */
  padding-left: 28px;
  

}
.albumImg{
  border-radius: 8px;
  width: 100px;
}